%h1 Screens Créés

%ul
  %li= link_to 'screen 1', {:controller => :screens, :action => :show, :id => @map_first}
  %li= link_to 'screen 2', {:controller => :screens, :action => :show, :id => @map_second}
