%h1 Login/Pass pour Conquest-Lys

- if flash[:notice]
  %p.error=flash[:notice]

%fieldset{:id => "login_field"}
  - form_tag :controller => 'check', :action => 'create' do
    %p Login :
    %p= text_field "login", nil

    %p Mot de passe :
    %p= password_field "password", nil

    %p= submit_tag "créer les screens"
