#info_player
  %ul
    %li
      %label Matricule :
      %label{:id => 'mat_player'}
    %li
      %label Nom :
      %label{:id => 'pseudo'}
    %li
      %label Grade :
      %label{:id => 'grade'}
    %li
      %label Niveau :
      %label{:id => 'niveau'}
    %li
      %label Compagny :
      %label{:id => 'compa'}
    %li
      %label Race :
      %label{:id => 'race'}
    %li
      %label Dissimulé :
      %label{:id => 'camouflage'}
    %li
      %label Position :
      %label{:id => 'position'}
    %li
      %label Affinité :
      %label{:id => 'affinity'}
    %li
      %label Arme :
      %label{:id => 'arme'}
    %li
      %label Fiche Perso :
      %label{:id => 'fiche_perso'}
  %ul
    %li
      %label Objet :
      %label{:id => 'objet'}
    %li
      %label Position :
      %label{:id => 'objet_position'}
    %li
      %label Info :
      %label{:id => 'objet_info'}
