
- if flash[:notice]
  %p.error=flash[:notice]

%h1 Création d'un screen pour Lys Of Conquest V2

#form_create
  - form_tag :controller => 'screens', :action => 'create' do
    %p Coller la source de votre page avec la carte
    %p= text_area_tag "paste", nil, {:cols => 70, :rows => 11}
    %p= submit_tag "Créer le screen", {:id => 'submit_screen'}

#help
  :plain
    <p>A partir le 13 Octobre 2007, je vous offre en cadeau une nouvelle version 
    du screeneur qui sépare chaque race.
    Vous aurez ainsi l'information uniquement enregistré pour votre race.
    Forcement en tant qu'administrateur je pourrais voir tout cela, mais ce
    n'est absolument pas mon but. Je vous réserve d'autre surprise pour ce
    screeneur. Pour les curieux et personnes désireuses de connaitre comment
    marche ce screeneur, j'ai mis en place un système de <a
    href="http://dev.shingara.fr/projects/show/1">gestion de projet
    pour ce screeneur</a>. Vous y verrez ainsi les améliorations que je vous
    réserve.</p>

    <p>Pour créer un screen, il suffit de récupérer la source issue du site
    Conquest of lys. Pour avoir une source, il suffit de consulter la source 
    dans votre navigateur. Ensuite il faut la sélectionner, la coller et la 
    copier dans la zone de texte précédente.</p>

    <p>Désormais il n'est plus utile de sélectionner la carte que vous allez 
    copier. En effet, l'information est directement dans la source de la page 
    et sera donc implicitement deviné.</p>

    <p>Attention, pour être sûr que votre source est compléte, vérifiez qu'elle
    termine bien par &lt;/html&gt;</p>
