!!! Strict
%html
  %head
    %title Maintenance du screeneur
    %link{"href"=>"/stylesheets/main.css","media"=>"screen", "rel"=>"stylesheet", "type"=>"text/css"}
  %body
    #page
      #content
        %p Le Screeneur est actuellement en maintenance pour créer une |
        nouvelle carte. Patientez quelque minute avant la réouverture du |
        site. Merci de votre compréhension.
    #footer
      Screeneur réalisé par <a href="http://blog.shingara.fr">Cyril 
      Mougel (Shingara)</a> pour le jeux <a href="http://www.conquest-lys.net">Conquest Of Lys</a>
