!!! Strict
%html
  = render :partial => 'layouts/head'
  %body
    #pub
      = render :partial => 'layouts/adsense'
    #page
      #content
        = yield
    #footer
      Screeneur réalisé par <a href="http://blog.shingara.fr">Cyril 
      Mougel (Shingara)</a> pour le jeux <a href="http://www.conquest-lys.net">Conquest Of Lys</a>
